body {
  background: white;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 500px;
  font-family: 'Tangerine', serif;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 250px;
  font-family: 'Tangerine', serif;
}

h3 {
  color: black;
}
