body {
  background: white;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 100px;
  font-family: 'Tangerine', serif;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 50px;
  font-family: 'Tangerine', serif;
}

h3 {
  color: black;
}
