body {
  background: white;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 150px;
  font-family: 'Tangerine', serif;
}

h3 {
  color: blue;
  text-align: center;
  font-size: 60px;
  font-family: 'Tangerine', serif;
}

h4 {
  color: black;
}

.centered {
  position: relative;
  right: + 76%;
  box-shadow: 0 0 3px 1px #000;
  border-radius: 1.25em;
}
